<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link id="fav" rel="icon" href="./assets/favicon.png" type="image/gif" sizes="16x16">
    <link rel='stylesheet' href='/styles/styles.css' />
    <title>The Decorizer</title>
</head>

<body>
    <header>
        <img src="/assets/logo.png" alt="The Decorizer logo">
    </header>
    <div id="container">
        <h1>We recieved your order</h1>
        <h2>Thank you for your business</h2>
        <a id="back-to-home" href="/">Shop More</a>
    </div>
    <footer style="position: absolute;">
        <span>&#169; 2019, Simply Elegant Gifts LLC</span>
    </footer>
</body>

</html>