<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link id="fav" rel="icon" href="./assets/favicon.png" type="image/gif" sizes="16x16">
    <link rel='stylesheet' href='/styles/styles.css' />
    <title>The Decorizer</title>
</head>

<body>
    <ul id="nav">
        <li><a href="#pan" title="Scroll to Pan">Pan</a></li>
        <li><a href="#orchid-trays" title="Scroll to Orchid Handle Trays">Orchid Handle Trays</a></li>
        <li><a href="#round-small" title="Scroll to Round Small">Round Small</a></li>
        <li><a href="#round-large" title="Scroll to Round Large">Round Large</a></li>
        <li><a href="#square" title="Scroll to Square">Square</a></li>
        <li><a href="#trays" title="Scroll to Trays">Trays</a></li>
        <li><a href="#spoons" title="Scroll to Spoons">Spoons</a></li>
    </ul>
    <header id="top">
        <img src="/assets/logo.png" alt="The Decorizer logo">
        <h1>Welcome to The Decorizer Wholesale Portal</h1>
        <h3>You are logged in as <span id="user-name"><%= userName %></span> </h3>
    </header>
    <div id="container">
        <section id="pan">
            <h2>NEW! The Decorizer Pan (Available for preorder. Expected to ship on time for the winter holidays)</h2>
        </section>
        <section id="orchid-trays">
            <h2>NEW! The Decorizer Tray with Orchid Handles (Only sold as sets) (Available for preorder. Expected to ship on time for the winter holidays)</h2>
        </section>
        <section id="round-small">
            <h2>The Decorizer Classic (Round Small)</h2>
        </section>
        <section id="round-large">
            <h2>The Decorizer POUND (Round Large)</h2>
        </section>
        <section id="square">
            <h2>The Decorizer SQUARE (glass included)</h2>
        </section>
        <section id="trays">
            <h2>The Decorizer TRAY (Small serves up to 2 Decorizers and Large up to 3)</h2>
        </section>
        <section id="spoons">
            <h2>The Decorizer Spoon (Spoons <strong>without</strong> retail packaging)</h2>
        </section>

        <div id="checkout">
            <div id="cart-wrapper">
                <table id="cart">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>qty</th>
                            <th>Cost</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tr id="balance-row">
                        <td>&nbsp;</td>
                        <td colspan="3"> Previous Balance </td>
                        <td colspan="2" id="balance">$0.00</td>
                    </tr>
                    <tbody id="cart-list"></tbody>
                    <tfoot>
                        <tr>
                            <td id="price-row" colspan="6">Total $<span id="total">0.00</span></td>
                        </tr>
                    </tfoot>
                </table>

            </div>

            <div id="shipping-info">
                <h4>Please enter shipping address</h4>
                <label for="name">Full Name*</label>
                <input id="name" type="text" onchange="shipElements.updateAddress(this.value, 0)">
                <label for="business">Business Name*</label>
                <input id="business" type="text" onchange="shipElements.updateAddress(this.value, 1)">
                <label for="street">Street*</label>
                <input id="street" type="text" onchange="shipElements.updateAddress(this.value, 2)">
                <label for="apt">Unit/Apt.</label>
                <input id="apt" type="text" onchange="shipElements.updateAddress(`<p>${this.value}<p/>`, 3)">
                <label for="city">City*</label>
                <input type="text" id="city" onchange="shipElements.updateAddress(this.value, 4)">
                <div id="sub-wrapper">
                    <label for="state">State*</label>
                    <select id="state" placeholder="" onchange="shipElements.updateAddress(this.value, 5)">
                        <label for="state">State</label>
                        <option value="" disabled selected hidden>Select State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <label for="zip">Zip*</label>
                    <input type="text" id="zip" onchange="shipElements.updateAddress(this.value, 6)">
                </div>
                <label for="tel">Phone Number*</label>
                <input type="tel" id="tel" onchange="shipElements.updateAddress(this.value, 7)">
                <label for="email">Email*</label>
                <input type="email" id="email" onchange="shipElements.updateAddress(this.value, 8)">
                <div id="ship-cost-btn">
                    <button id="calc-ship" class="ship-btn" onclick="shipElements.calcShip(this)">Calculate Shipping
                        Cost</button>
                    <button id="proceed" class="ship-btn" onclick="cartElements.payment(this)">Proceed to
                        Payment</button>
                    <div id="paypal-button-container">
                        <p>You can pay with a credit card without a PayPal account. Click the PayPal button, then click on "Pay with Debit or Credit Card". After entering the payment information, click continue as guest.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="scroll-to-top" href="#top" title="back to top">&#10148;</a>
    <a id="scroll-to-cart" href="#checkout" title="scroll to cart">&#128722;</a>
    <footer>
        <span>&#169; 2023, Simply Elegant Gifts LLC</span>
    </footer>
    <div id="processing"><span>Processing...</span></div>
    <script
        src="https://www.paypal.com/sdk/js?client-id=Ad_YALoLyxgeQTJNjrNLPXFWDFQaGslwPpc8h4smNEclgQ0U7S6kEG6kIdym8GEvE0cXZSkZ8SUxqW1K&currency=USD"
        data-sdk-integration-source="button-factory"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>